*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.class
*.properties
/build
Directory:.buildCacheDir/
.idea/
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/arch/core/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/arch/lifecycle/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/arch/lifecycle/livedata/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/arch/lifecycle/livedata/core/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/arch/lifecycle/viewmodel/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/asynclayoutinflater/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/compat/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/coordinatorlayout/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/coreui/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/coreutils/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/cursoradapter/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/customview/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/design/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/documentfile/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/drawerlayout/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/fragment/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/graphics/drawable/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/interpolator/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/loader/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/localbroadcastmanager/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/print/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/slidingpanelayout/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/swiperefreshlayout/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/transition/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/v7/appcompat/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/v7/cardview/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/v7/recyclerview/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/android/support/v7/viewpager/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/androidx/versionedparcelable/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/com/example/xrecyclerview/R.java
xrecyclerview/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/jp/wasabeef/glide/transformations/R.java
xrecyclerview/build/generated/source/buildConfig/release/com/example/xrecyclerview/BuildConfig.java
xrecyclerview/build/intermediates/aapt_friendly_merged_manifests/release/processReleaseManifest/aapt/AndroidManifest.xml
xrecyclerview/build/intermediates/aapt_friendly_merged_manifests/release/processReleaseManifest/aapt/output.json
xrecyclerview/build/intermediates/annotation_processor_list/release/javaPreCompileRelease/annotationProcessors.json
xrecyclerview/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
xrecyclerview/build/intermediates/incremental/mergeReleaseShaders/merger.xml
xrecyclerview/build/intermediates/incremental/packageReleaseAssets/merger.xml
xrecyclerview/build/intermediates/incremental/packageReleaseResources/merged.dir/values/values.xml
xrecyclerview/build/intermediates/incremental/packageReleaseResources/merger.xml
xrecyclerview/build/intermediates/incremental/release-mergeJniLibs/merge-state
xrecyclerview/build/intermediates/intermediate-jars/release/classes.jar
xrecyclerview/build/intermediates/intermediate-jars/release/res.jar
xrecyclerview/build/intermediates/merged_manifests/release/processReleaseManifest/merged/AndroidManifest.xml
xrecyclerview/build/intermediates/merged_manifests/release/processReleaseManifest/merged/output.json
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/app_loading0.png
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/app_loading1.png
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/app_loading2.png
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/app_loading3.png
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/header_loading0.png
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/header_loading1.png
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/header_loading2.png
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/header_loading3.png
xrecyclerview/build/intermediates/packaged_res/release/drawable-xhdpi-v4/loading_image.png
xrecyclerview/build/intermediates/packaged_res/release/drawable/common_progress_cirle.xml
xrecyclerview/build/intermediates/packaged_res/release/drawable/header_yun_anim.xml
xrecyclerview/build/intermediates/packaged_res/release/drawable/yun_anim.xml
xrecyclerview/build/intermediates/packaged_res/release/layout/kaws_refresh_header.xml
xrecyclerview/build/intermediates/packaged_res/release/layout/yun_refresh_footer.xml
xrecyclerview/build/intermediates/packaged_res/release/values/values.xml
xrecyclerview/build/intermediates/res/symbol-table-with-package/release/package-aware-r.txt
xrecyclerview/build/intermediates/symbols/release/R.txt
xrecyclerview/build/intermediates/transforms/mergeJniLibs/release/__content__.json
xrecyclerview/build/outputs/logs/manifest-merger-release-report.txt
StickyListHeaders_lib/build/generated/not_namespaced_r_class_sources/release/generateReleaseRFile/out/com/emilsjolander/components/stickylistheaders/R.java
StickyListHeaders_lib/build/generated/source/buildConfig/release/com/emilsjolander/components/stickylistheaders/BuildConfig.java
StickyListHeaders_lib/build/intermediates/aapt_friendly_merged_manifests/release/processReleaseManifest/aapt/AndroidManifest.xml
StickyListHeaders_lib/build/intermediates/aapt_friendly_merged_manifests/release/processReleaseManifest/aapt/output.json
StickyListHeaders_lib/build/intermediates/annotation_processor_list/release/javaPreCompileRelease/annotationProcessors.json
StickyListHeaders_lib/build/intermediates/annotations_typedef_file/debug/extractDebugAnnotations/typedefs.txt
StickyListHeaders_lib/build/intermediates/incremental/debug-mergeJavaRes/merge-state
StickyListHeaders_lib/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
StickyListHeaders_lib/build/intermediates/incremental/mergeReleaseShaders/merger.xml
StickyListHeaders_lib/build/intermediates/incremental/packageReleaseAssets/merger.xml
StickyListHeaders_lib/build/intermediates/incremental/packageReleaseResources/merger.xml
StickyListHeaders_lib/build/intermediates/incremental/release-mergeJniLibs/merge-state
StickyListHeaders_lib/build/intermediates/intermediate-jars/release/classes.jar
StickyListHeaders_lib/build/intermediates/intermediate-jars/release/res.jar
StickyListHeaders_lib/build/intermediates/merged_manifests/release/processReleaseManifest/merged/AndroidManifest.xml
StickyListHeaders_lib/build/intermediates/merged_manifests/release/processReleaseManifest/merged/output.json
StickyListHeaders_lib/build/intermediates/packaged-classes/debug/classes.jar
StickyListHeaders_lib/build/intermediates/res/symbol-table-with-package/release/package-aware-r.txt
StickyListHeaders_lib/build/intermediates/symbols/release/R.txt
StickyListHeaders_lib/build/intermediates/transforms/mergeJavaRes/debug/0.jar
StickyListHeaders_lib/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
StickyListHeaders_lib/build/intermediates/transforms/mergeJniLibs/release/__content__.json
StickyListHeaders_lib/build/outputs/aar/StickyListHeaders_lib-debug.aar
StickyListHeaders_lib/build/outputs/logs/manifest-merger-release-report.txt
xrecyclerview/build/intermediates/annotations_typedef_file/debug/extractDebugAnnotations/typedefs.txt
xrecyclerview/build/intermediates/incremental/debug-mergeJavaRes/merge-state
xrecyclerview/build/intermediates/packaged-classes/debug/classes.jar
xrecyclerview/build/intermediates/transforms/mergeJavaRes/debug/0.jar
xrecyclerview/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
xrecyclerview/build/outputs/aar/xrecyclerview-debug.aar
